<section class="footer" id="footer">
    <div class="footer-content">
      <div class="contact-address">
        <ul>
          <li>
            <span class="fa fa-stack">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-map-marker-alt fa-stack-1x"></i>
            </span>
            <span class="data">Mushin, Lagos Nigeria</span>
          </li>
          <li>
            <span class="fa fa-stack">
              <i class="far fa-circle fa-stack-2x"></i>
              <i class="fas fa-envelope fa-stack-1x"></i>
            </span>
            <span class="data"
              ><a href="mailto:oscarekeyekwu@gmail.com"
                >oscarekeyekwu@gmail.com</a
              ></span
            >
          </li>
        </ul>
      </div>
      <div class="social-links">
        <ul class="social-icons-list">
          <li class="social-link">
            <a href="https://github.com/oscar-ekeyekwu" target="_blank"
              ><span class="fa fa-stack">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fab fa-github fa-stack-1x"></i> </span
            ></a>
          </li>
          <li class="social-link">
            <a href="https://linkedin.com/in/ekeyekwu-oscar-393896198"
              ><span class="fa fa-stack">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fab fa-linkedin fa-stack-1x"></i> </span
            ></a>
          </li>
          <li class="social-link">
            <a href="https://twitter.com/ekeyekwuoscar" target="_blank"
              ><span class="fa fa-stack">
                <i class="far fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x"></i> </span
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="copyright">
      <p>All Rights Reserved.</p>
      <p>
        Ekeyekwu, Oscar Ikechukwu
        <i class="fa fa-copyright" aria-hidden="true"></i> <%= new Date().getFullYear()%>.
      </p>
    </div>
  </section>