<nav id="header" class="header">
    <div class="nav-row">
      <div id="logo" class="logo-cont">
        <div class="logo">
          <img src="/images/FavIcon.png" alt="logo" />
        </div>
      </div>
      <div id="menu" class="links-cont">
        <ul class="nav-links">
          <li class="link"><a href="/">Home</a></li>
          <li class="link"><a href="#about">About</a></li>
          <li class="link"><a href="#projects">Projects</a></li>
          <li class="link"><a href="#contact">Contact</a></li>
          <li class="link"><a href="https://ekeyekwuoscar.hashnode.dev/" target="_blank">Blog</a></li>
          <li>
            <a id="dropdown-btn" href="javascript:void(0);">
              <i id="icon" class="fas fa-bars"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>