<div class="shapes">
    <div class="shape1">
      <img src="/shapes/shape1.png" alt="shape1" />
    </div>
    <div class="shape2">
      <img src="/shapes/shape2.png" alt="shape2" />
    </div>
    <div class="shape3">
      <img src="/shapes/shape3.png" alt="shape3" />
    </div>
    <div class="shape4">
      <img src="/shapes/shape4.png" alt="shape4" />
    </div>
  </div>